@use "styles/index" as *;

.newspaper {
  margin-bottom: 72px;
  border: 1px solid $neutral-300;
  border-radius: 12px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-s;
  }

  &-img {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 12px 12px 0 0;
      border-bottom: 1px solid $neutral-300;
    }
  }

  &-content {
    padding: 20px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      font-size: 20px;
      color: $neutral-700;
      font-weight: 700;
      line-height: 25px;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .newspaper-category {
        font-size: 11px;
        background-color: $success-150;
        padding: 6px 8px;
        border-radius: 12px;
        font-weight: 500;
      }

      .newspaper-time {
        font-size: 12px;
        color: $neutral-500;
      }
    }
  }
}
